@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  background-color: beige;
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: rgb(79, 128, 129);
}

p {
  color: rgb(88, 98, 109);
  text-align: justify;
  line-height: normal;
}

img {
  width: 250px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: bisque;
  padding: 6px
}

.navigation li {
  display: inline;
  padding: 0px 5px 0px 5px;
  margin: 4px;
  outline: 1px burlywood solid;
}